.management-main-div {
  padding-top: 80px;
}

.home-map-parent {
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.home-map-parent div {
  flex: 1 0 25%;
}

.home-mp-cont {
  @apply relative  text-gray-700 bg-white shadow-md bg-clip-border rounded-xl;
  height: 500px;
  margin: 2%;
}

.home-img {
}

.home-img-par {
  width: auto;
  height: 70%;
  padding: 15px;
}
.home-img-par img {
  @apply rounded-lg;
}

/*css For mobile */
@media screen and (max-width: 768px) {
  .home-map-parent div {
    flex: 1 0 100%;
  }

  .home-para {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .carosel-img {
    height: 270px !important;
  }

  .carosel h3 {
    font-size: 0.6rem;
  }
}

/* For Tablete */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-map-parent div {
    flex: 1 0 50%;
  }

  .home-para {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  .carosel-img {
    height: 500px !important;
  }
}
